body {
    margin: 0px;
    padding: 0px;


}

header{
    background-color: aqua;
    padding: 20px;
    text-align: center;
}
.navbar{
    background-color: blueviolet;
    padding: 80px;
    text-align: center;
}
.sidemain{
    display: flex;
    flex-direction: row;
}
aside{
    background-color: greenyellow;
    height: 700px;
    width: 30%;
    text-align: center;
}
.lkol{
   width: 70%;
   height: 700px;
}
.main{
    background-color: red;
    padding: 5px;
    text-align: center;
    height: 400px;
   
}
.banner{
    background-color: green;
    padding: 5px;
    text-align: center;
    height: 200px;
}
.pub-container{
    
    display: flex;
    flex-direction: row;
    height: 80px;

}
.pub{
    background-color: brown;
    width: 70%;
    text-align: center;
}
.img{
    background-color: pink;
     width: 30%;
     text-align: center;
}
footer{
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}